* {
  box-sizing: border-box;
}

/* INDEX CSS  */
.indexBody {
  background-color: #fff;
  font-family: sans-serif;
  color: #fff;
}

.navBar {
  background-color: rgb(16, 16, 17);
  display:flex  ;
  margin: auto;
}

.card {
  display: inline-block;
  margin: 20px ;
  background-color: rgb(51, 166, 170);
  text-align: center;
  max-width: 60vh;
  border-radius: 10px;
  box-shadow: 0px 0px 35px rgb(21, 64, 114);
}

.cardTitle {
  margin: 0%;
  color: rgb(252, 252, 252);
  background-color: rgb(25, 63, 105);
  padding: 10px 0px 10px 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.fotoMia {
  max-width: 50vh;
  padding: 20px 0px 20px 0px;
  border-radius: 50%;
}

.cardText {
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(25, 63, 105);
  padding: 10px 15px 10px 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* estilos de la carta roja */

.redCard {
  background-color: rgb(136, 10, 10);
  box-shadow: 0px 0px 35px rgb(255, 0, 0);
}

.redCardTitle {
  background-color: rgb(184, 2, 2);
  color: black;
}

.redCardText {
  background-color: rgb(184, 2, 2);
  color: black;
}

/* estilos de la carta verde */

.greenCard {
  background-color: rgb(8, 94, 23);
  box-shadow: 0px 0px 35px rgb(0, 255, 64);
}

.greenCardTitle {
  background-color: rgb(27, 223, 27);
  color: black;
}

.greenCardText {
  background-color: rgb(27, 223, 27);
  color: black;
}

/*--------------------------------- Contactos CSS */

.contactBody {
    background-color: #fff;
  font-family: sans-serif;
  color: #fff;
}

.contactBackground{
    background-color: #313030;
}

.contactTopSection {
  padding: 5px;
  text-align: center;
}

.contactTitle {
  margin: 10px 0px 0px 0px;
}

.contactDescription {
font-family:Verdana, Geneva, Tahoma, sans-serif ;
font-size: medium;
font-weight:400;
padding: 5px 30px 10px 30px;
}

.contactForm {
  padding: 20px 20px 60px 20px;

}

.formInputs {
  display: flex;
  margin: auto;
  padding: 2px;
}

.formLabels {
  text-align: center;
  margin: auto;
  display:block;
  padding: 5px;
}